body {
    text-align: center;
    float: center;
    background-image: url(../images/random_grey_variations.png);
}

h1 {
    color: pink;
    text-shadow: 2px black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#genie {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid pink;
}

h2 {
    color:pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 2px 4px black;
}

p {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px pink ;
}

p.thicker {
    font-weight: bold;
}